#landing-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
  animation: nav-shadow 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  & .header-container {
    padding: 0 24px;
    width: 100%;
    max-width: 1080px;
    height: 72px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .header-logo {
      z-index: 50;
    }

    & .header-menu {
      display: flex;
      gap: 32px;

      & .menu {
        display: flex;
        align-items: center;
        gap: 24px;

        & .menu-item a {
          color: var(--txt-very-low);
          transition: all 0.2s ease;

          &:hover {
            color: var(--txt-primary);
          }
        }
      }
    }

    & .btn-menu {
      display: none;
      z-index: 50;

      & svg {
        transition: all 0.2s ease;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

@keyframes nav-shadow {
  0% {
    background-color: transparent;
    box-shadow: none;
  }

  100% {
    background-color: var(--surface-primary);
    box-shadow: 0px 39px 11px 0px rgba(5, 46, 46, 0),
      0px 25px 10px 0px rgba(5, 46, 46, 0.01),
      0px 14px 8px 0px rgba(5, 46, 46, 0.05),
      0px 6px 6px 0px rgba(5, 46, 46, 0.09),
      0px 2px 3px 0px rgba(5, 46, 46, 0.1);
  }
}

/* Estilos por defecto para cada una de las secciones */
.section {
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}

#home {
  background: linear-gradient(90deg, #9cf3e4 -5.28%, #f0fdfa 45.84%);

  & .home-container {
    height: 780px;

    & .home-content {
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 1080px;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 112px;

      & .content-left {
        width: 100%;
        z-index: 50;

        & h1 {
          margin-bottom: 24px;
        }

        & p {
          margin-bottom: 32px;
        }
      }

      & .content-right {
        min-width: 416px;
        z-index: 50;

        & img {
          width: 100%;
        }
      }

      & .content-bottom {
        position: absolute;
        bottom: -12%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 50;

        & .achievements {
          padding: 32px;
          background-color: var(--surface-primary);
          border-radius: 16px;
          box-shadow: 0px 58px 16px 0px rgba(5, 46, 46, 0),
            0px 37px 15px 0px rgba(5, 46, 46, 0.01),
            0px 21px 13px 0px rgba(5, 46, 46, 0.05),
            0px 9px 9px 0px rgba(5, 46, 46, 0.09),
            0px 2px 5px 0px rgba(5, 46, 46, 0.1);
          display: flex;
          gap: 24px;

          & .achievement {
            width: 100%;
            max-width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            & p {
              text-align: center;
              color: var(--txt-low);
            }
          }
        }
      }

      & .circle-1 {
        position: absolute;
        top: 35%;
        left: calc(35% - 154px);
        z-index: 30;
      }

      & .circle-2 {
        position: absolute;
        top: 58%;
        left: calc(70% - 146px);
        z-index: 30;
      }

      & .circle-3 {
        position: absolute;
        top: 16%;
        left: calc(100% - 197px);
        z-index: 30;
      }
    }
  }
}

#services {
  padding-top: 120px;
  margin-top: 120px;
  margin-bottom: 128px;

  & .services-content {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    & .service {
      border-radius: 16px;
      background: var(--surface-primary);
      box-shadow: 0px 24px 7px 0px rgba(5, 46, 46, 0),
        0px 15px 6px 0px rgba(5, 46, 46, 0.01),
        0px 9px 5px 0px rgba(5, 46, 46, 0.05),
        0px 4px 4px 0px rgba(5, 46, 46, 0.09),
        0px 1px 2px 0px rgba(5, 46, 46, 0.1);
      display: flex;
      flex-direction: column;

      & .img-container {
        width: 100%;
        height: 180px;
        border-radius: 16px;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: right;
        }
      }

      & .service-info {
        padding: 20px;

        & .service-description {
          margin-top: 12px;
          color: var(--txt-low);
        }
      }
    }
  }
}

#opinions {
  margin: 64px 0 128px 0;
  background-color: var(--surface-brand-low);
  overflow: hidden;

  & .opinions-container {
    position: relative;
    padding: 128px 24px;
    overflow: visible;

    & h4 {
      z-index: 50;
    }

    & .opinions-content {
      margin-top: 32px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;

      & .opinion {
        width: 100%;
        max-width: 328px;
        padding: 32px;
        text-align: center;
        border-radius: 16px;
        background-color: var(--surface-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        z-index: 50;

        & p {
          color: var(--txt-low);
        }
      }
    }

    & .circle-1 {
      position: absolute;
      top: -112px;
      left: calc(100% - 180px);
      z-index: 30;
    }

    & .circle-2 {
      position: absolute;
      bottom: 0px;
      left: 150px;
      z-index: 30;
    }

    & .circle-3 {
      position: absolute;
      top: 20%;
      right: 30%;
      z-index: 30;
    }
  }
}

#cta {
  margin: 64px auto 128px auto;

  & .cta-container {
    height: 250px;
    background-color: var(--surface-brand);
    border-radius: 16px;
    box-shadow: 0px 72px 20px 0px rgba(5, 46, 46, 0),
      0px 46px 18px 0px rgba(5, 46, 46, 0.01),
      0px 26px 16px 0px rgba(5, 46, 46, 0.05),
      0px 12px 12px 0px rgba(5, 46, 46, 0.09),
      0px 3px 6px 0px rgba(5, 46, 46, 0.1);
    display: flex;
    gap: 24px;

    & .content-left {
      padding: 32px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 24px;

      & h3 {
        color: var(--txt-contrast);
      }
    }

    & .content-right {
      position: relative;
      width: 40%;
      overflow: hidden;

      & img {
        position: absolute;
        top: -100px;
        left: 0;
        width: 503px;
        height: 500px;
        border-radius: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

#landing-footer {
  margin-top: 64px;
  background-color: var(--surface-brand);

  & .footer-container {
    padding: 32px 24px;

    & .footer-header {
      margin-bottom: 64px;
    }

    & .footer-content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & .content-left {
        display: flex;
        flex-direction: column;
        gap: 24px;

        & .info-container {
          color: var(--txt-contrast);
          display: flex;
          flex-direction: column;
          gap: 8px;

          & .info {
            display: flex;
            align-items: center;
            gap: 8px;

            & p {
              width: 100%;
              max-width: 220px;
            }
          }
        }
      }

      & .content-right {
        & .menu {
          display: flex;
          gap: 24px;

          & .menu-item a {
            color: var(--txt-contrast);
            transition: all 0.2s ease;

            &:hover {
              color: var(--txt-contrast-low);
            }
          }
        }
      }
    }

    & .separator {
      margin: 32px 0;
      width: 100%;
      border-bottom: 1px solid var(--txt-contrast);
    }

    & .footer-copyright {
      display: flex;
      justify-content: flex-end;
      color: var(--txt-contrast);
    }
  }
}

@media screen and (max-width: 920px) {
  #home {
    & .home-container {
      & .home-content {
        & .content-right {
          min-width: 370px;
          width: 100%;
          max-width: 416px;
        }
      }
    }
  }
}

@media screen and (max-width: 875px) {
  #home {
    & .home-container {
      height: auto;

      & .home-content {
        padding: 170px 0;
        flex-direction: column;

        & .content-left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          & h1,
          p {
            max-width: 500px;
          }
        }

        & .content-right {
          min-width: auto;
          width: 100%;
          max-width: 416px;
        }

        & .content-bottom {
          bottom: -100px;
        }
      }
    }
  }

  #cta {
    & .cta-container {
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  #landing-header {
    & .header-container {
      & .header-menu {
        position: absolute;
        top: -100%;
        left: 0;
        padding: 104px 48px;
        width: 100%;
        height: 0;
        background-color: var(--surface-primary);
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        z-index: 30;

        & .menu {
          width: 100%;
          align-items: flex-end;
          flex-direction: column;

          & .menu-item {
            & a:hover {
              color: var(--txt-very-low);
            }
          }
        }
      }

      & .menu-open {
        top: 0;
        height: 100vh;
        display: flex;
      }

      & .btn-menu {
        display: flex;
      }
    }
  }

  #services {
    & .services-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #opinions {
    & .opinions-container {
      & .opinions-content {
        & .opinion {
          max-width: 100%;
        }
      }
    }
  }

  #cta {
    & .cta-container {
      flex-direction: column;

      & .content-left {
        width: 100%;
      }

      & .content-right {
        width: 100%;
        height: 350px;

        & img {
          top: 0;
          left: -20%;
          width: 140%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  #landing-footer {
    & .footer-container {
      & .footer-header {
        display: flex;
        justify-content: center;
      }

      & .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;

        & .content-left {
          order: 2;

          & .info-container {
            align-items: center;
          }
        }

        & .content-right {
          order: 1;

          & .menu {
            flex-direction: column;
            align-items: center;

            & .menu-item a {
              &:hover {
                color: var(--txt-contrast);
              }

              &:active {
                color: var(--txt-contrast-low);
              }
            }
          }
        }
      }

      & .footer-copyright {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #home {
    & .home-container {
      background: linear-gradient(90deg, #cef9f1 -5.28%, #f0fdfa 45.84%);

      & .home-content {
        & .content-bottom {
          & .achievements {
            width: 100%;
            justify-content: center;
            gap: 32px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #home {
    & .home-container {
      & .home-content {
        & .content-bottom {
          bottom: -360px;

          & .achievements {
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  #services {
    margin-top: 260px;
  }
}

@media screen and (max-width: 623px) {
  #home {
    & .home-container {
      & .home-content {
        & .content-bottom {
          bottom: -360px;
        }
      }
    }
  }

  #services {
    margin-top: 380px;
  }
}

@media screen and (max-width: 520px) {
  #services {
    & .services-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
