button {
  font-family: 'Open Sans Variable', sans-serif;
  color: var(--txt-contrast);
  background-color: var(--btn-primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    background-color: var(--btn-primary-hover);
  }
}

.btn-primary-contrast {
  background-color: var(--btn-primary-contrast);
  color: var(--txt-brand);

  &:hover {
    background-color: var(--btn-primary-contrast-hover);
  }
}

.btn-sm {
  font-size: 12px;
  font-weight: 600;
  padding: 0 8px;
  height: 40px;
}

.btn-md {
  font-size: 14px;
  font-weight: 600;
  padding: 0 16px;
  height: 40px;
}

.btn-lg {
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  button {
    &:hover {
      background-color: var(--btn-primary);
    }

    &:active {
      background-color: var(--btn-primary-hover);
    }
  }

  .btn-primary-contrast {
    &:hover {
      background-color: var(--btn-primary-contrast);
    }

    &:active {
      background-color: var(--btn-primary-contrast-hover);
    }
  }
}